{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>{{ object }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {% if object %}
      <a class="btn btn-secondary" href="{% url 'transplants:detail' pk=object.pk %}" role="button">View</a>
      {% endif %}
      <a class="btn btn-secondary" href="{% url 'transplants:table' %}" role="button">Back to Transplants</a>
    </div>
  </div>

  <div class="row">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Update</button>
          {% if object %}
          <a class="btn btn-danger" href="{% url 'transplants:delete' pk=object.pk %}" role="button">Delete</a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>

</div>
{% endblock %}
