{% set show_login = True %}
{% extends "layout-login.html" %}
{% from "_form_helpers.html" import render_bootstrap_form_field_no_label %}

{% block content %}
<br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 login-box shadow-box">
            <h1>About ICDOT</h1>
            <p>
                Etiam ac est sit amet leo porttitor
                elementum. Pellentesque dapibus elit arcu, a
                vestibulum felis ullamcorper at. Ut eu ligula commodo,
                hendrerit risus sit amet, viverra libero. Curabitur
                vulputate congue elit id gravida. Maecenas dui nulla,
                ornare sed ante id, fermentum dictum mauris. Aenean
                fringilla, metus vel maximus tincidunt, dui massa
                ultrices tortor, et ullamcorper risus eros sit amet
                eros. Nam accumsan dui non accumsan facilisis. Duis id
                ultricies est, in rutrum nisi. Quisque ut eleifend
                erat. Vestibulum varius ligula sit amet justo
                tristique, non feugiat enim feugiat.
            </p>
        </div>
    </div>
</div>
{% endblock %}
