{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="{{url_for("index")}}">&larr; back</a>
            <br/>
            <br/>
            <br/>
            <h1>ICDOT - User Management</h1>
            <a href="/admin/user">Table Editor</a>
            <br/>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>Create New User</h4>
            <form method="post" action="{{url_for("create_new_user")}}">
                email: <input type=email name=email placeholder="email">
                password: <input type=text name=password value="123456">
                <input type=submit value="create user">
                <br/>
                <small>User will be automatically validated</small>
            </form>
        </div>
    </div> {# .row #}
    <br/>
    <br/>

    <div class="row">
        <div class="col-12">
            <h4>Existing Users</h4>

            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Active</th>
                        <th>Email
                            <small>(validated?)</small>
                        </th>
                        <th>Registered</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{u.user_id}}</td>
                        <td>
                            {% if u.active %}
                            &#10003;
                            {%endif%}
                        </td>
                        <td>{{u.email}}
                            {% if u.validated %}
                            (&#10003;)
                            {%endif%}
                        </td>
                        <td>{{u.registered_at.strftime("%Y-%m-%d")}}</td>
                        <td>
                            <form method="post" action="{{url_for("set_user_password")}}">
                                <input type=hidden name=user_id value={{u.user_id}}>
                                <input type=text name=password placeholder="new password...">
                                <input type=submit value="Set Password">
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{url_for("set_user_status")}}">
                                <input type=hidden name=user_id value={{u.user_id}}>
                                {% if u.active %}
                                <input type=submit name=action value="disable">
                                {% else %}
                                <input type=submit name=action value="enable">
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> {# .row #}

</div>
{% endblock %}
