{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li><a href="{{url_for("login")}}">login</a></li>
                <li><a href="{{url_for("register")}}">register</a></li>
                <li><a href="{{url_for("main")}}">main page</a></li>
                <li><a href="{{url_for("choose")}}">New Patient - Choose Method</a></li>
                <li><a href="{{url_for("import_spreadsheet")}}">Import Spreadsheet</a></li>
                <li><a href="{{url_for("new_patient")}}">New Patient (Manual Entry)</a></li>
                <li><a href="{{url_for("new_donor")}}">New Donor (Manual Entry)</a></li>
                <li><a href="{{url_for("new_histology")}}">New Histology (Manual Entry)</a></li>
                <li><a href="{{url_for("test_xls_import")}}">Test XLS import</a></li>
                <li><a href="{{url_for("test_background_job")}}">Test Background Job Processing</a></li>
                <li><a href="{{url_for("test_rcc_report")}}">Test RCC upload &amp; R analysis</a></            </ul>
        </div>
    </div>
</div>
{% endblock %}
