{% extends "layout.html" %}

{% block css %}
.import-container-box {
  display: flex;
}
.import-file-box {
   flex: 1;
   font-weight: bold;
   background-color: #F3F3F3;
   padding: 15px;
   padding-bottom: 30px;
}
.import-icon-box {
  flex: 0 0 20%;
}
.import-icon {
   margin-top: 20px;
   width: 70px;
   height: 70px;
}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <p class="text-right">
            <a href="{{ url_for('static',filename="samples/icdot_template_kidney2.xlsx")}}">Spreadsheet Template</a>
            <br/>
            <a href="{{ url_for('static',filename="samples/20140604_C4-stim_C4-stim_03.RCC")}}">Sample RCC file</a>
        </p>
    </div>
</div>

<form method="post" role="form" class="form" enctype="multipart/form-data">
    {{ form.csrf_token() }}
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-1">
                <div class="import-icon-box">
                    <img class="import-icon" src="{{ url_for('static',filename="images/upload-spreadsheet-icon.png") }}">
                </div>
        </div>
        <div class="col-6">
            <div class="import-container-box">

                <div class="import-file-box">
                    Upload spreadsheet
                    <br/>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="xls" accept=".xlsx" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01" allowdirs multiple>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                    {% for error in form.xls.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-1">
            <div class="import-icon-box">
                <img class="import-icon" src="{{ url_for('static',filename="images/raw-data-icon.png") }}">
            </div>
        </div>
        <div class="col-6">
            <div class="import-container-box">

                <div class="import-file-box">
                    Upload Raw Data (one or more RCC files)
                    <br/>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="rcc[]" accept=".rcc" multiple class="custom-file-input" id="raw_data_upload_file"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="raw_data_upload_file">Choose file</label>
                        </div>
                    </div>
                    {% for error in form.rcc.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
    </div>

    <br/>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <a class='btn btn-light shadow-box' href="{{ url_for("index")}}">Cancel</a>

            <input type="submit" class='btn btn-primary shadow-box float-right' value="Import Data">
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
 var inputs = document.querySelectorAll( '.custom-file-input' );
 console.log(inputs);

 /* Find element's label from: https://stackoverflow.com/a/285565 */
 function findLabelForControl(el) {
   var idVal = el.id;
   labels = document.getElementsByTagName('label');
   for( var i = 0; i < labels.length; i++ ) {
      if (labels[i].htmlFor == idVal)
           return labels[i];
   }
 }

 /* See: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
    This should've been "just working" with bootstrap, but apparently not.
 */
 Array.prototype.forEach.call( inputs, function( input )
     {
         console.log("Foo");
	     var label = findLabelForControl(input);
         console.log("label = ",label);

	     input.addEventListener( 'change', function( e )
	         {
		         var fileName = '';
		         if( this.files && this.files.length > 1 ) {
			         fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		         } else {
			         fileName = e.target.value.split("\\").pop();
                 }

		         if( fileName ) {
			         label.innerHTML = fileName;
                     console.log("filename = ", fileName);
		         } else {
			         //label.innerHTML = labelVal;
                 }
	         });
     });
    </script>
{% endblock %}
