{% set active_step = "clinical" %}

{% extends "layout-data-entry.html" %}


{% block data_entry_content %}
<form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group-box">
                {{ render_bootstrap_form_field_top_label(form.external_biopsy_id, class='form-control') }}
                {{ render_bootstrap_form_field(form.biopsy_date, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.pretransplant_biopsy, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.biopsy_indication, class='form-control') }}

                {{ render_bootstrap_form_field_with_units(form.serum_creatinine, form.serum_creatinine_units) }}
            </div>

            <div class="form-group-box">
                {{ render_bootstrap_form_field_with_units(form.proteinuria, form.proteinuria_units) }}

                {{ render_bootstrap_form_field(form.proteinuria_dipstick, class='form-control') }} 
                {{ render_bootstrap_form_field(form.proteinuria_date, class='form-control') }}
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group-box">
                {{ render_bootstrap_form_field_top_label(form.current_immunosuppressant, class='form-control') }}
                {{ render_bootstrap_form_field(form.current_treatment_dose, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.rejection_treatment, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.treatment_start_date, class='form-control') }}

            </div>
            <div class="form-group-box">
                {{ render_bootstrap_form_field_top_label(form.polyoma_virus_pcr, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.cell_free_dna_level, class='form-control') }}

                {{ render_bootstrap_form_field_with_units(form.bkv_load, form.bkv_load_units) }}
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group-box">
                {{ render_bootstrap_form_field(form.preformed_dsa, class='form-control') }}
                {{ render_bootstrap_form_field(form.dsa_history, class='form-control') }}
                {{ render_bootstrap_form_field(form.dsa_class, class='form-control') }}
                {{ render_bootstrap_form_field(form.idsa_class, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.idsa_specificity, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.idsa_mfi, class='form-control') }}
                {{ render_bootstrap_form_field(form.c1qi_binding, class='form-control') }}
                {{ render_bootstrap_form_field(form.non_anti_hla_dsa, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.non_anti_hla_dsa_type, class='form-control') }}
            </div>

            <br/>
        </div>
    </div> {# .row #}
    <div class="row">
        <div class="col-12">
            <a class='btn btn-light shadow-box float-left' href="{{ url_for("grafts_edit",tid=tid)}}">Cancel</a>
            <input type=submit class='btn btn-primary float-right'
                   value="{{ submit_button_label }}">
        </div>
    </div>
</form>
{% endblock %}
