{% set active_step = "followup" %}

{% extends "layout-data-entry.html" %}


{% block data_entry_content %}
<form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group-box">
                {{ render_bootstrap_form_field_top_label(form.record_date, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.blood_pressure, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.weight, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.egfr, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.serum_creatinine, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.serum_creatinine_units, class='form-control') }}
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group-box">

                {# Special handling for Proteinuria + Units #}
                <div class="form-group {% if form.proteinuria.errors %}text-danger{% endif %}">
                    <b>{{ form.proteinuria.label() }}</b>
                    <div>
                        {{ form.proteinuria(class="form-control") }}
                        {{ form.proteinuria_units(class="form-control") }}
                    </div>

                    {% for error in form.proteinuria.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {{ render_bootstrap_form_field_top_label(form.proteinuria_dipstick, class='form-control') }} 
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="form-group-box">
                {{ render_bootstrap_form_field_top_label(form.graft_loss_date, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.death_date, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.immunosuppressive_drug, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.immunosuppressive_drug_daily_dosage, class='form-control') }}
            </div>

            <br/>
        </div>
    </div> {# .row #}
    <div class="row">
        <div class="col-12">
            <a class='btn btn-light shadow-box float-left' href="{{ url_for("transplant_show",tid=tid)}}">Cancel</a>
            <input type=submit class='btn btn-primary float-right'
                   value="{{ submit_button_label }}">
        </div>
    </div>
</form>
{% endblock %}
