{% extends "layout.html" %}
{% from "_form_helpers.html" import render_bootstrap_form_field, render_bootstrap_form_field_top_label %}

{% block content %}
<br/>
<div class="container">
    <br/>

    <div class="row">
        <div class="col-12">
            <h1>Settings</h1>

            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}

                {{ render_bootstrap_form_field_top_label(form.option1, class='form-control') }}
                {{ render_bootstrap_form_field_top_label(form.option2, class='form-control') }}

                <div class="row-form">
                    <input type=submit class='col-3 btn btn-primary'>
                    <a class="btn btn-secondary col-3" href="{{url_for("index")}}">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
