{% extends "layout.html" %}

{% from "_form_helpers.html" import render_bootstrap_form_field, render_bootstrap_form_field_no_label  %}

{% macro render_bootstrap_records_table(data) %}
<table class="table table-sm table-stripped">
    {% if data | length == 0 %}
    <tr><td>No Data</td></tr>
    {% else %}
    <thead>
        <tr>
            {% set fields = data[0].keys() %}
            {% for key in fields %}
            <th>
                {{ key }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for f in fields %}
            <td>
                {% if row[f] %}{{ row[f] }}{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endmacro %}


{% block content %}
<br/>
<div class="row justify-content-center">
    <div class="col-10">
        <h3>The following records have been import from {{ filename }}</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10">
        {{ render_bootstrap_records_table(imported) }}
    </div>
</div>
{% if (rcc_file_names|length) > 0 %}
<div class="row justify-content-center">
    <div class="col-10">
        <h4>The following RCC files have been imported</h4>
        {% for f in rcc_file_names %}
        <code>{{ f }}</code>
        <br/>
        {% endfor %}
    </div>
</div>
{% endif %}

<br/>
<div class="row justify-content-center">
    <div class="col-10">
        <a class='btn btn-sm btn-light shadow-box' href="{{ url_for("index")}}">Back to Dashboard</a>

        <a class='btn btn-sm btn-primary' href="{{ url_for("import_data")}}">Import Another File</a>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<div class="row justify-content-center">
    <div class="col-10">
        <h4>Extracted Data from spreadsheet</h4>
        <div class="accordion" id="accordionExample">
            {% for sheet in ['required', 'recipient', 'donor', 'biopsy', 'histology', 'nanostring'] %}
            <div class="card">

                <div class="card-header" id="heading_{{sheet}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button"
                                data-toggle="collapse"
                                data-target="#collapse_{{sheet}}"
                                aria-expanded="true"
                                aria-controls="collapse_{{sheet}}">
                            {{ sheet }}
                        </button>
                    </h2>
                </div>

                <div id="collapse_{{sheet}}" class="collapse" aria-labelledby="heading_{{sheet}}" data-parent="#accordionExample">
                    <div class="card-body" style="overflow-x: scroll;">
                        {% set d = data[sheet] %}
                        {{ render_bootstrap_records_table(d) }}
                        {# <pre>{{d|pprint(True)}}</pre> #}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> <!-- accordion -->
    </div>
</div>

{% endblock %}
