{% extends "layout.html" %}

{% from "_form_helpers.html" import render_bootstrap_form_field, render_bootstrap_form_field_no_label  %}

{% macro render_bootstrap_records_table(data) %}
<table class="table table-sm table-stripped">
    {% if data | length == 0 %}
    <tr><td>No Data</td></tr>
    {% else %}
    <thead>
        <tr>
            {% set fields = data[0].keys() %}
            {% for key in fields %}
            <th>
                {{ key }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for f in fields %}
            <td>
                {% if row[f] %}{{ row[f] }}{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endmacro %}


{% block content %}
<br/>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data" class="form" role="form">
    <div class="row">
        <div class="col-8">
            {{ form.csrf_token() }}

            {{ render_bootstrap_form_field_no_label(form.upload, class='form-control') }}
        </div>
        <div class="col-4">
                <input type="submit" class='btn btn-primary shadow-box' value="SUBMIT">
        </div>
    </div>
    </form>
</div> <!-- end of container -->

{% if data %}
<div class="row">
    <div class="col-12">
        <h3>{{ filename }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            {% for sheet in ['recipient', 'donor', 'biopsy', 'histology', 'nanostring'] %}
            <div class="card">

                <div class="card-header" id="heading_{{sheet}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button"
                                data-toggle="collapse"
                                data-target="#collapse_{{sheet}}"
                                aria-expanded="true"
                                aria-controls="collapse_{{sheet}}">
                            {{ sheet }}
                        </button>
                    </h2>
                </div>

                <div id="collapse_{{sheet}}" class="collapse" aria-labelledby="heading_{{sheet}}" data-parent="#accordionExample">
                    <div class="card-body" style="overflow-x: scroll;">
                        {% set d = data[sheet] %}
                        {{ render_bootstrap_records_table(d) }}
                        {# <pre>{{d|pprint(True)}}</pre> #}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> <!-- accordion -->
    </div>
</div>
{% endif %}
{% endblock %}
